/build/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
__pycache__/
*.pyc
.firebase/
.firebaserc
.commandcode/
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock
*.log
*.tmp
*.swp
.DS_Store
android/local.properties
android/.gradle/
android/google-services.json
android/app/google-services.json
android/key.properties
android/app/upload-keystore.jks
android/upload-key-public.pem
android/app/upload-key-public.pem
android/app/*.jks
ios/Pods/
ios/.symlinks/
*.env
landing/
ref/
*.pem
